<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Cahiers de liaison  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="container" *ngIf="!cahiers">
    <ion-spinner name="lines" class="iteming"></ion-spinner>
  </div>

  <div *ngIf="cahiers">

    <ion-list >

      <ion-list-header> Les cours des dernieres semaines  </ion-list-header>

      <ion-card *ngFor="let m of cahiers"  >

        <ion-item item-start>
          <ion-thumbnail slot="start">
            <img src="https://www.rame.org.in/images/pdf%20icon.png">
          </ion-thumbnail>
          <ion-label>
            <h6>  <strong>Semaine ( {{m.dateDeb|date:'dd/MM/yy'}} - {{m.dateFin|date:'dd/MM/yy'}} )</strong> </h6>
            <p>{{m.classe.libelleClasse}} , {{m.matiere.libelle}} </p>
            <p>  <strong>{{m.enseignants.nom}} {{m.enseignants.prenom}}  </strong> </p>
          </ion-label>

          <ion-buttons  expand="full"  (click) = "presentActionSheet(m)"  >
            <ion-icon slot="icon-only" item-end name="ellipsis-vertical"></ion-icon>
          </ion-buttons>

        </ion-item>

      </ion-card>


    </ion-list>

    <!--<ion-card  >-->
      <!--<ion-card-header color="primary">-->
        <!--<ion-card-subtitle></ion-card-subtitle>-->
      <!--</ion-card-header>-->
      <!--<ion-card-content >-->
        <!--<ion-list >-->
          <!--<ion-item>-->
            <!--<ion-label>-->
              <!--<p>{{m.classe.libelleClasse}} </p>-->
            <!--</ion-label>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
            <!--<ion-label>-->
              <!--<p>{{m.matiere.libelle}}</p>-->
            <!--</ion-label>-->
          <!--</ion-item>-->
          <!--<ion-item lines="none" >-->
            <!--<ion-label>-->
              <!--<p> publié  par  Mr/Mme {{m.enseignants.nom}} {{m.enseignants.prenom}} </p>-->
            <!--</ion-label>-->
          <!--</ion-item>-->
          <!--<a href="{{urlPhoto}}{{m.document}}" style="text-decoration: none">-->
            <!--<ion-button expand="full" color="danger" >-->
              <!--Télécharger-->

            <!--</ion-button>-->
          <!--</a>-->

        <!--</ion-list>-->
      <!--</ion-card-content>-->

    <!--</ion-card>-->
  </div>

</ion-content>

<!--<ion-footer>-->
  <!--<ion-toolbar color="primary">-->
    <!--<ion-title></ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-footer>-->
