<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >  <span *ngIf="Liste"> {{Liste[0].classe.libelleClasse}}</span>  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="container" *ngIf="!Liste">
    <ion-spinner name="lines" class="iteming"> </ion-spinner>
  </div>

  <!--<div>-->
    <!--<img width="100%" src="../../../assets/img/classes.PNG" alt="">-->
  <!--</div>-->

  <div *ngFor="let m of Liste">

    <ion-list >

      <ion-item  item-start (click)="detailsShow(m)" >
        <ion-avatar slot="start">
          <img src="{{urlPhoto}}{{m.user.photo}}">
        </ion-avatar>
        <ion-label>
          <h6 style="font-size: 13px">{{m.nom}}   {{m.prenom}} </h6>


          <p style="font-size: 12px">{{m.dateNaiss|date:'dd/MM/yy'}} à {{m.lieuNaiss}}</p>

          <p style="font-size: 10px">{{m.matricule}}</p>



        </ion-label>


        <!--<ion-icon name="arrow-forward-outline" item-end ></ion-icon>-->

        <ion-icon name="chevron-forward"  item-end ></ion-icon>

      </ion-item>
    </ion-list>

  </div>


</ion-content>

<!--<ion-footer>-->
<!--<ion-toolbar color="primary">-->
<!--<ion-title></ion-title>-->
<!--</ion-toolbar>-->
<!--</ion-footer>-->

