<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Emploi du temps </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen><br><br>
  <div *ngIf="res">
    <img src="{{urlPhoto}}{{res.classe.emp_Classe}}" />

    <ion-item >
      <a style="text-decoration:none; color: #1e2023" href="{{urlPhoto}}{{res.classe.emp_Classe}}"  download="Emploi du temps {{res.classe.libelleClasse}}"> Regarder  </a>
    </ion-item>


  </div>
</ion-content>
