<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Notes de l'evaluation  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label> Evaluation </ion-label>
      <ion-select interface="popover"  okText="Ok" cancelText="Annuler" [(ngModel)]="dat['libelleEvaluation']">
        <ion-select-option value={{m.id}} *ngFor="let m of Liste" >
          {{m.libelle}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <br>

    <ion-button color="primary" expand="full" [disabled]="dat.libelleEvaluation==''" (click)="afficher()"> Envoyer </ion-button>

  </ion-list>


  <div>
    <ion-list *ngIf="rep!=[]&&dec==1">

      <!--<ion-list-header> Bulletin de notes de la séquence </ion-list-header>-->

      <ion-item lines="none">

        <ion-label> <h2> Moyenne </h2></ion-label>
        <p>
          <strong> {{rep.moyenne}} / 20 </strong>

        </p>
      </ion-item>

      <ion-item *ngFor="let m of rep.datas" >
        <ion-label>

          <p>


              {{m.matiere.libelle}}



          </p>

          <p>  <strong>{{m.mention}}</strong></p>

        </ion-label>
        <p>
          <ion-badge>
            {{m.valeur}}
          </ion-badge>
        </p> <br>


      </ion-item >


    </ion-list>
    <ion-list *ngIf="rep!=[]&&dec==0">
      <ion-item style="text-align: center;color: #ff6b8a" lines="none">

        <ion-label>   Les notes ne sont pas encore disponibles  </ion-label>

      </ion-item>
    </ion-list>
  </div>





</ion-content>
