<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >  Messages   </ion-title>


  </ion-toolbar>
</ion-header>


<ion-content >

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circular">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list-header>
    Les derniers messages
  </ion-list-header>

  <div *ngFor="let m of messages" >

    <ion-list *ngIf="messages" >

      <ion-item  item-start (click)="detailsShow(m)" >

        <ion-label>

          <h6> {{m.messages.object}} </h6>


          <p> reçu le : {{m.messages.date|date:'dd/MM/yy à HH:mm'}} </p>



          <p> {{ m.messages.commentaires.slice(0, 20)}}... <span style="color:rgb(38, 168, 243)"> Lire la suite   </span> </p>


          <p style="color:#1d805e"  *ngIf="m.messages.statut==1">  <ion-badge color="primary">  déjà  lu</ion-badge> </p>

          <p style="color:#ff5e18"  *ngIf="m.messages.statut==0">  <ion-badge color="danger">  non lu </ion-badge> </p>


        </ion-label>


        <!--<ion-icon name="arrow-forward-outline" item-end ></ion-icon>-->

      </ion-item>


    </ion-list>

  </div>



</ion-content>

<!--<ion-footer>-->
  <!--<ion-toolbar color="primary">-->
    <!--<ion-title></ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-footer>-->

