<ion-header>
  <ion-toolbar color="primary">

    <ions-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ions-buttons>

     <!--<ion-buttons slot="end" (click)="refresh()" >-->
       <!--<ion-button>-->

         <!--<ion-icon name="sync-outline" style="font-size:25px"></ion-icon>-->

       <!--</ion-button>-->
     <!--</ion-buttons>-->

    <ion-title >   Ajout de notes    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div>

    <ion-list>
      <ion-item>
        <ion-label>Classes</ion-label>
        <ion-select  okText="Ok" cancelText="Annuler" [(ngModel)]="dat['idClasse']"  (ionChange)="charger()">
          <ion-select-option value={{m.classe.id}} *ngFor="let m of classes" >
            {{m.classe.libelleClasse}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Matière</ion-label>
        <ion-select  okText="Ok" cancelText="Annuler"  [(ngModel)]="dat['matiere']">
          <ion-select-option value={{m.libelle}} *ngFor="let m of maiteres" >
            {{m.libelle}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="trimestres">
      <ion-label> Trimestre  </ion-label>
      <ion-select okText="Ok" cancelText="Annuler" [(ngModel)]="dat['trimestre']" >
        <ion-select-option value="{{trimestres.id}}"  >
          {{trimestres.libelle_semes}}
        </ion-select-option>
      </ion-select>
    </ion-item>

      <ion-item *ngIf="evaluations">
        <ion-label> Evaluation en cour  </ion-label>
        <ion-select okText="Ok" cancelText="Annuler" [(ngModel)]="dat['libelleEvaluation']" >



          <ion-select-option value={{m.id}} *ngFor="let m of evaluations" >
            {{m.libelle}}
          </ion-select-option>



        </ion-select>
      </ion-item>

    </ion-list>


    <br>

    <ion-button  color="primary"    expand="full" (click)="afficher()" [disabled]="dat.trimestre==''||dat.libelleEvaluation==''||dat.matiere==''||dat.idClasse==''">

      Suivant

    </ion-button>


  </div>  <br>

  <!--<ion-card-subtitle *ngIf="Classes" style="text-align: center;color:#ff2e53;">-->
    <!--Ajoutez une note pour chaque élève-->
  <!--</ion-card-subtitle> <br>-->

  <ion-list *ngFor="let m of Classes">

    <ion-item  item-start>
      <!--<ion-avatar slot="start">-->

          <!--<img src="{{urlPhoto}}{{m.user.photo}}">-->

      <!--</ion-avatar>-->
      <ion-label>

     <p> {{m.nom}} {{m.prenom}}</p>

        <ion-input  type="number"    [(ngModel)]="Notes[m.id]"  placeholder=" Ajouter la note" ></ion-input>

      </ion-label>
    </ion-item>
  </ion-list> <br>

  <ion-button *ngIf="Classes" color="primary"    expand="full" (click)="Valider()">

    Enregistrer

  </ion-button>

</ion-content>
