<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons *ngIf="actua == true" slot="end" (click)="afficher()">
      Actualiser
    </ion-buttons>

    <ion-title> Notes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item *ngIf="evaluations">
        <ion-label> Evaluation </ion-label>
        <ion-select okText="Ok" cancelText="Annuler" [(ngModel)]="dat['libelleEvaluation']" (ionChange)="charger2()">
          <ion-select-option value={{eval.id}} *ngFor="let eval of evaluations" (ionChange)="charger2()">
            {{eval.libelle}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Classe</ion-label>
        <ion-select okText="Ok" cancelText="Annuler" [(ngModel)]="dat['idClasse']" (ionChange)="charger()">
          <ion-select-option value={{m.classe.id}} *ngFor="let m of classes">
            {{m.classe.libelleClasse}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label> Matière </ion-label>
        <ion-select okText="Ok" cancelText="Annuler" [(ngModel)]="dat['matiere']" (ionChange)="charger2()">
          <ion-select-option value={{m.id}} *ngFor="let m of maiteres">
            {{m.libelle}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label> Note commune a toute la classe ? </ion-label>
        <ion-select okText="Ok" cancelText="Annuler" [(ngModel)]="dat['commune']" (ionChange)="charger2()">
          <ion-select-option value="Oui">Oui</ion-select-option>
          <ion-select-option value="Non">Non</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="dat['commune'] == 'Oui'">
        <ion-label>Entrez cette note ici</ion-label>
        <ion-input
                type="number"
                [(ngModel)]="dat['communeValue']"
                placeholder="Ajouter la note"
                style="margin-top: 5px; max-width: 120px; text-align: center;"
        >
        </ion-input>
      </ion-item>
    </ion-list>

    <br> <br>

    <ion-row>
      <ion-col size="12">
        <ion-button
                color="primary"
                expand="full"
                (click)="afficher()"
                [disabled]="dat.libelleEvaluation=='' || dat.matiere=='' || dat.idClasse=='' || (dat.commune=='Oui' && !dat.communeValue)"
        >
          Afficher
        </ion-button>
      </ion-col>
    </ion-row>

  </div>

  <!-- Affichage des classes et des champs de notes -->
  <ion-list *ngIf="Classes != '' && actua == true">
    <ion-item *ngFor="let m of Classes">
      <ion-grid>
        <ion-row>
          <!-- Nom de l'étudiant -->
          <ion-col size="auto">
            <ion-label>
              <strong>{{ m.nom }} {{ m.prenom }}</strong>
            </ion-label>
          </ion-col>

          <!-- Champ de la note -->
          <ion-col size="auto">
            <ion-input
                    type="number"
                    [(ngModel)]="m.valeur"
                    placeholder="Ajouter la note"
                    [disabled]="dat.commune == 'Oui'"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-button *ngIf="Classes && actua == true" color="primary" expand="full" (click)="ValiderNew()">
    Enregistrer
  </ion-button>

  <br>
</ion-content>
