.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iteming {
  width: 10em;
}

//.segment-button-checked{
//  background-color: #ededed;
//
// // background-color: #e8e8e8;
//}