<ion-header>
  <ion-toolbar color="primary">
    <ions-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ions-buttons>
    <ion-title> Mes paiements </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="tranche2">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label> Détails tranches </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tranche1">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Hitoriques </ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
