<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> En ligne  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-grid fixed >
    <ion-row >


      <ion-col>
        <ion-card color="tertiary">
          <div routerLink="../courligne">
            <ion-icon name="school-outline"></ion-icon>
            <p>  Cours </p>
          </div>
        </ion-card>
      </ion-col>


      <ion-col>
        <ion-card color="primary" routerLink="../devoirligne">
          <div >
            <ion-icon name="reader-outline"></ion-icon>
            <p> Devoirs   </p>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card color="dark" routerLink="../quizzs">
          <div >
            <ion-icon name="help-circle-outline"></ion-icon>
            <p>  Questionnaire   </p>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card color="primary" routerLink="../courligne">
          <div >

          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!--<ion-footer>-->
<!--<ion-toolbar color="primary">-->
<!--<ion-title></ion-title>-->
<!--</ion-toolbar>-->
<!--</ion-footer>-->
