<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Absences </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container" *ngIf="!Absences">
    <ion-spinner name="lines" class="iteming"></ion-spinner>
  </div>
  <div>
    <img src="../../../assets/img/classes.PNG" alt="">
  </div>

  <ion-item-divider color="primary">
    <!--<p *ngIf="TotalHeure!=''" style="color:white;text-align:center">-->
      <!--<strong>  {{this.Absences.length}} absence(s) avec un total de {{TotalHeure}}H  </strong>-->
    <!--</p>-->


    <!--<p *ngIf="TotalHeure==''" style="color:white;text-align:center">-->
      <!--<strong> 0 absence pour cet eleve   </strong>-->
    <!--</p>-->
    Historique des absences

  </ion-item-divider>

  <!--<ion-list-header>  </ion-list-header>-->


  <!--<ion-card *ngFor="let m of Absences" item-start>-->

  <ion-list *ngIf="Absences">

    <!--<ion-item  *ngFor="let m of Absences" >-->
      <!---->

       <!--<ion-label >-->
         <!--<h5>  {{m.dateHeure|date:'dd/MM/yy à HH:mm'}} ,  le cour a duré   <strong>{{m.duree}} </strong> heure(s) </h5>-->
         <!--<p> cour de   <strong> {{m.matiere}} </strong></p>-->
       <!--</ion-label>-->
    <!---->
    <!--</ion-item>-->


    <ion-item >


      <ion-label >
        <h5>   <strong> TRIMESTRE 1 </strong>  </h5>
        <p>   Nombre total d'absence :  <strong> {{Absences['T1']}}   heure(s) </strong></p>
      </ion-label>

    </ion-item>


    <ion-item>


      <ion-label >
        <h5>   <strong> TRIMESTRE 2 </strong>  </h5>
        <p>   Nombre total d'absence :  <strong> {{Absences['T2']}} heure(s) </strong></p>
      </ion-label>

    </ion-item>


    <ion-item >


      <ion-label >
        <h5>   <strong> TRIMESTRE 3 </strong>  </h5>
        <p>  Nombre total d'absence :   <strong> {{Absences['T3']}}   heure(s) </strong></p>
      </ion-label>

    </ion-item>


    <ion-item >


      <ion-label >
        <h5>   <strong> TOTLAL ANNUEL  </strong>  </h5>
        <p>  Nombre total d'absence :   <strong> {{Absences['T1']+Absences['T2']+Absences['T3']}}   heure(s) </strong></p>
      </ion-label>

    </ion-item>
  </ion-list>

<!--</ion-card>-->


</ion-content>
