<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Devoirs en ligne </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="container" *ngIf="!devoirs">
    <ion-spinner name="lines" class="iteming"></ion-spinner>
  </div>


  <div *ngIf="devoirs">

    <br>

    <div  *ngFor="let m of devoirs">

        <ion-item (click)="details(m)" item-start>
          <!--<ion-avatar slot="start">-->
            <!--<img src="https://play-lh.googleusercontent.com/BkRfMfIRPR9hUnmIYGDgHHKjow-g18-ouP6B2ko__VnyUHSi1spcc78UtZ4sVUtBH4g">-->
          <!--</ion-avatar>-->
          <ion-label>
            <h3>{{m.libelle}}</h3>
            <!--<p>{{m.classe.libelleClasse}}</p>-->
            <p>{{m.matiere.libelle}}</p>
            <p> crée le {{m.created_at|date:'dd/MM/yy'}}   </p>

            <!--<p> <strong> {{m.enseignants.nom}} {{m.enseignants.prenom}} </strong></p>-->

          </ion-label>

          <ion-icon name="chevron-forward" item-end></ion-icon>

        </ion-item>

    </div>



  </div>

</ion-content>


<!--<ion-footer>-->
  <!--<ion-toolbar color="primary">-->
    <!--<ion-title></ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-footer>-->
