
<ion-content>

    <div class="head">
        <br><br><br><br><br><br>
        <div class="text"><span style="color:#ff6b8a;font-size:50px"> <strong> SHOOL</strong> </span><ion-label >Maker

            <br>

           <span  style="color:white;font-size:16px"> Application de gestion scolaire  </span>


        </ion-label>  </div>

        <!--<img src="../../assets/image/logo.jpeg" alt="">-->
    </div>

    <div class="form">




        <ion-col size="4" class="ion-text-center">
            <p class=""  style="color:#152A56"
                        (click)="loginPage()"><ion-button expand="block" type="primary"> <ion-icon name="caret-forward"></ion-icon> WELCOME </ion-button>
            </p>

        </ion-col>

        <ion-col size="60" >
            <p class="ion-color-primary" style="font-size: 12px">




            </p>

        </ion-col>



        <!--<ion-button type="primary" ><ion-icon name="caret-forward"></ion-icon> Demmarer </ion-button>-->

    </div>



</ion-content>
