
<ion-content>

    <div class="head">
        <br><br><br><br><br><br>
        <div class="text"><span style="color:darkgoldenrod;font-size:50px">X</span><ion-label >schoolink</ion-label>  </div>

        <!--<img src="../../assets/image/logo.jpeg" alt="">-->
    </div>

    <div class="form">




        <ion-col size="4" class="ion-text-center">
            <ion-button class="" type="primary"
                        (click)="loginPage()"> <ion-icon name="caret-forward-outline"></ion-icon> Suivant
            </ion-button>

        </ion-col>



        <!--<ion-button type="primary"  expand="block" fill="outline">INSCRIPTION</ion-button>-->

    </div>



</ion-content>
